@font-face {
  font-family: 'SugarAndSpice';
  src: url('fonts/Sugar\ &\ Spice\ demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* navbar */
.navbar {
  background-color: #ff9757;
  font-family: "Urbanist", sans-serif;
}

.nav-link{
  color: #ffffff;
  transition: 0.5s;
}
.nav-link:hover{
  color: #503b3b;
  font-weight: 900;
  transition: 0.5s;
}
.activee{
  color: #503b3b;
  font-weight: 900;
}

.nav-img {
  height: 100px;
}

.dropdown-item {
  color: #503b3b;
}

.dropdown-item:hover {
  color: #ff9757;
  font-weight: 700;
  background-color: rgb(246, 242, 237);
}

.dropdown-item:active {
  color: #ff9757;
  font-weight: 900;
}

/*hamburger menu css*/
.navbar-toggler {
  width: 40px;
  height: 30px;
  position: relative;
  transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  top: 10px;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

.navbar-toggler .top-bar {
  margin-top: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  margin-top: 0px;
  transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
  margin-top: -15px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 15px;
  transform: rotate(0deg);
}

/* carousel */

.c-item {
  height: 40vw;
  min-height: 500px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.btn {
  background: #a05720;
  color: #fff;
  font-family: 'Urbanist';
}

.btn:hover {
  background: #a05720;
  box-shadow: #fff 0px 4px 29px 0px;
  transition: 0.5s;
}

.display-1 {
  font-family: 'SugarAndSpice';
  font-size: clamp(5rem, 9vw, 21rem);
  font-weight: 100;
}

.wraper {
  width: 100%;
  height: 430px;
  display: flex;
}

.roww {
  box-shadow: #503b3b 0px 4px 29px 0px;
}
.row:target {
  box-shadow: #503b3b 0px 4px 29px 20px;
  border-color: #503b3b;
  animation: ease-in-out;
  opacity: 4;

} 

.orange {
  height:300px;
  background: #ff9757;
}

.white {
  height:300px;
  background: white;
}

.title-heading {
  font-family: 'SugarAndSpice';
  color:white;
  font-size: clamp(4rem, 7vw, 400px);
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-decoration-color: #503b3b;
  text-decoration-thickness:3px;
}
.description {
  color: #503b3b;
  font-family: "Urbanist", sans-serif;
  font-size: clamp(1rem, 1.2vw, 400px);
}
/*contact css*/
ul.b {
  list-style-type: square;
  list-style-position: inside;

}

ul li {
  color: #ff9757;
}

ul li span {
  color: #503b3b;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 100px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 150px;
  font-weight: 500;
  color: #503b3b;
  font-family: 'SugarAndSpice';
  padding-top: 0;
}

.contact .content p {
  font-weight: 500;
  color: #503b3b;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
}

.contact .content ul {
  font-weight: 500;
  color: #503b3b;
  font-family: "Urbanist", sans-serif;
  font-size: 20px;
}

.contact-container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9757;
  margin-top: 30px;
  box-shadow: 10px 20px 36px #503b3b;
}

.contact-container .contactinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact-container .contactinfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contact-container .contactinfo .box .text {
  font-family: "Urbanist", sans-serif;
  display: flex;
  margin-left: 20px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  flex-direction: column;
  font-weight: 300;

}

.contact-container .contactinfo .box .text h3 {
  font-weight: 500;
  color: rgb(126, 62, 13);
  font-family: 'SugarAndSpice';
  font-size: 75px;
}

.contact-form {
  width: 40%;
  padding: 40px;
  background-color: rgb(255, 255, 255);
}

.contact-form h2 {
  font-size: 30px;
  color: #a05720;
  font-weight: 700;
  font-family: "Urbanist", sans-serif;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
  font-family: "Urbanist", sans-serif;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box input:valid~span,
.contact-form .input-box textarea:focus~span,
.contact-form .input-box textarea:valid~span {
  color: #ff9757;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
  width: 100;
  background-color: #a05720;
  color: white;
  border: 1px solid #a05720;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  transition: 0.5s;
  font-family: "Urbanist", sans-serif;
}

.contact-form .input-box input[type="submit"]:hover {
  background-color: white;
  color: #a05720;
  border: 1px solid #a05720;
  cursor: pointer;
  transition: 0.5s;
}

@media (max-width:991px) {
  .contact {
    padding: 50px;
  }

  .contact-container {
    flex-direction: column;
  }

  .contact-container .contactinfo {
    margin-bottom: 40px;
  }

  .contact-container .contactinfo,
  .contact-form {
    width: 100%;
  }
}

.birdie {
  width: 200px;
}

footer {
  background-color: #ff9757;
  color: #fff;
  bottom: 0;
  width: 100%;
  font-size: 20px;
}

.footerwords {
  font-family: 'SugarAndSpice';
  font-size: 50px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness:3px;
}


/* social media icons*/
.wrapped {
  display: grid;
  height: 100%;
  width:100%;
  place-items: center;
}

.wrap {
  display: inline-flex;
}

.wrap .icon {
  margin: 50px 20px 20px 20px;
  color: rgb(90, 85, 81);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrap .icon span {
  position: relative;
  height: 70px;
  width: 70px;
  display: block;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55)
}
.wrap .icon span i {
  font-size: 35px;
  line-height: 70px;
}

.wrap .icon:hover span{
  color: #fff;
}

.wrap .icon .tooltipp {
  position: absolute;
  top: 0px;
  background: #fff;
  color: #fff;
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrap .icon:hover .tooltipp {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}

.wrap .icon .tooltipp:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrap .icon:hover span,
.wrap .icon:hover .tooltipp {
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.wrap .facebook:hover span,
.wrap .facebook:hover .tooltipp,
.wrap .facebook:hover .tooltipp:before {
  background: #1877F2;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrap .twitter:hover span,
.wrap .twitter:hover .tooltipp,
.wrap .twitter:hover .tooltipp:before {
  background: #54b9f8;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrap .instagram:hover span,
.wrap .instagram:hover .tooltipp,
.wrap .instagram:hover .tooltipp:before {
  background: #e440e4;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrap .snapchat:hover span,
.wrap .snapchat:hover .tooltipp,
.wrap .snapchat:hover .tooltipp:before {
  background: #ffdf2c;
  transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

/* scrollbar */

/* width */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */

::-webkit-scrollbar-thumb {
  background:#503b3b;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #503b3b; 
}


/*our cards*/
.product-card {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;

}
.p-c {
  background-color: #503b3b;
  color: white;
  font-family: 'Urbanist';
  border: 3px, #503b3b, solid;
}
.card-header {
background-color: #ff9757;
color: #503b3b;
font-family: 'SugarAndSpice';
font-size: 35px;
height:70px;
}

.product-image {
border: 3px solid #ff9757;
}

.product-btn{
  background-color: #ff9757;
  color: white;
  border-radius: 7px;
  transition: 0.5s;
  border: 0;
}
.product-btn:hover{
  box-shadow: #7c7c7c 0px 4px 29px 0px;
  transition: 0.5s;
}

/* flip card */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #503b3b; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  font-family: "Urbanist", sans-serif;
  transition: 0.3s;
}

#myBtn:hover {
  background-color: #726262; /* Add a dark-grey background on hover */
  transition: 0.3s;

}
.modal-title{
  font-family: 'SugarAndSpice';
  font-size: 35px;
}
.modal-header {
  background-color: #ff9757;
  color: #503b3b;
}
.learnmoree{
  font-family: "Urbanist", sans-serif;
 font-size: 30px;
}
.modal-body{
  font-family: "Urbanist", sans-serif;
}
.modal-c-item {
  height: 20vw;
  min-height: 300px;
}
.modal-c-img {
  height: 300px;
  width:500px;
  object-fit: contain;
}
.carousel-control-prev-icon {
  background-color: black;
  opacity: 0.6;
  border-radius: 100%;
  transition: 0.35s;
  width:50px;
  height:50px;
}
.carousel-control-prev-icon:hover {
  background-color: black;
  opacity: 0.8;
  border-radius: 100%;
  transition: 0.35s;
}
.carousel-control-next-icon {
  background-color: black;
  opacity: 0.6;
  border-radius: 100%;
  transition: 0.35s;
  width:50px;
  height:50px;
}
.carousel-control-next-icon:hover {
  background-color: black;
  opacity: 0.8;
  border-radius: 100%;
  transition: 0.35s;
}
.ourpro {
  display: flex;
  justify-content: center; 
  align-items: center;   
  max-width: 800px;
  margin: 0 auto;        
  text-align: center;
}

.ourproducts {
  font-size: 150px;
  font-weight: 500;
  color: #503b3b;
  font-family: 'SugarAndSpice';
  padding-top: 70px;
  padding-bottom: 55px;
  text-decoration: underline 5px;
  text-decoration-skip-ink: none;

}
.pro-descrip {
  color: #503b3b;
}

